@font-face {
  font-family: AlimamaShuHeiTi;
  src: url("./AlimamaShuHeiTi-Bold.ttf") format("truetype");
  /* src: url(./AlimamaShuHeiTi-Bold.otf);
    src: url(./AlimamaShuHeiTi-Bold.woff);
    src: url(./AlimamaShuHeiTi-Bold.woff2); */
}

.main {
  background: linear-gradient(#8A9BF9, #ECEFFE);
  padding-top: 30px;
}

.title,
.subtitle {
  color: #FFF;
  font-family: AlimamaShuHeiTi;
}

.title {
  font-size: 36px;
}

.subtitle {
  font-size: 18px;
  padding-top: 12px;
}

@keyframes show {
  0% {
    width: 0;
    /* transform: translate3d(-50%, -50%, 0); */
  }

  /* 30% {
    width: 220px;
    transform: rotateY(720deg);
  } */

  46% {
    width: 200px;
    transform: rotateY(720deg);
  }

  100% {
    width: 180px;
    transform: rotateY(720deg);
  }
};

.showresult {
  animation: show 0.5s ease-in-out forwards;
  width: 200px;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0) rotateY(720deg);
};