@font-face {
  font-family: AlimamaShuHeiTi;
  src: url(./AlimamaShuHeiTi-Bold.ttf) format(truetype);
  /* src: url(./AlimamaShuHeiTi-Bold.otf);
    src: url(./AlimamaShuHeiTi-Bold.woff);
    src: url(./AlimamaShuHeiTi-Bold.woff2); */
}

html,
body {
  width: 100vw;
  height: 100vh;
  color: #FFF;
  max-width: 466px;
  margin: 0 auto;
  background: linear-gradient(#8A9BF9, #ECEFFE);
}

.alimama {
  font-family: "AlimamaShuHeiTi";
}

;

.font14 {
  font-size: 14px;
}